# Taken from: https://gist.github.com/buoto/7e2cff6c17c108658fc751df845b1040#file-editorconfig
# EditorConfig is awesome:http://EditorConfig.org

# Configuration options: https://learn.microsoft.com/en-us/visualstudio/ide/cpp-editorconfig-properties?view=vs-2022

# top-most EditorConfig file
root = true

# Don't use tabs for indentation.
[*]
charset = utf-8
indent_style = space
end_of_line  = crlf
trim_trailing_whitespace = true
# (Please don't specify an indent_size here; that has too many unintended consequences.)

# Code files
[*.{c++,cc,cpp,cxx,h,h++,hh,hpp,hxx,inl,ipp,tlh,tli}]
indent_size = 4
tab_width = 4

# Xml config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2
tab_width = 2

# JSON and YAML files
[*.{json,yml,yaml}]
indent_size = 2
tab_width = 2

# C++ code style settings:
[*.{c++,cc,cpp,cxx,h,h++,hh,hpp,hxx,inl,ipp,tlh,tli}]
cpp_indent_case_contents = true
cpp_indent_case_contents_when_block = true
cpp_indent_preserve_comments = true

cpp_new_line_before_open_brace_namespace = new_line
cpp_new_line_before_open_brace_type = new_line
cpp_new_line_before_open_brace_function = new_line
cpp_new_line_before_open_brace_block = new_line
cpp_new_line_before_open_brace_lambda = new_line
cpp_new_line_close_brace_same_line_empty_type = true
cpp_new_line_before_catch = true
cpp_new_line_before_else = true
cpp_new_line_before_while_in_do_while = true

cpp_space_remove_before_semicolon = true
cpp_space_around_assignment_operator = insert